main {
  width: 90vw;
  margin: auto;
}

.subtitulo {
  text-align: center;
  color: purple;
  text-transform: uppercase;
}

.destaque {
  background-color: plum;
  font-weight: bold;
  padding: 0.5rem;
}

.sombra-texto {
  text-shadow: black 1px 1px 3px;
}
